@font-face {
  font-family: cocogoose light;
  src: url(./Fonts/Cocogoose-Pro-Semilight-Italic-trial.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
	font-family: cocogoose;
	src: url(./Fonts/Cocogoose-Pro-Italic-trial.ttf);
}

@font-face {
  font-family: cocogoose gradient;
  src: url(./Fonts/cocogoose-pro.letterpress.ttf);
  font-style: normal;
  font-weight: 700;
}


@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.menu-display-off {
  display: none;
}

.actor-hidden {
	display: none;
}

.actor-hidden-flex{
	display: flex;
}

.nav-mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: linear-gradient(#080808, #3f3f3f);
  top: 0;
  left: 0;
}

.nav-mobile-menu ul li {
  margin: 60px 80px;
}

.nav-mobile-menu ul li a {
  font-family: cocogoose gradient, sans-serif;
  color: #ec5242;
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
}

.nav-mobile-menu .close-button {
  display: flex;
  justify-content: flex-end;
  color: white;
}

#close-button-image {
  margin: 100px 80px 0 0;
  cursor: pointer;
  width: 70px;
  height: 70px;
}

.first-section {
  background-image: url(./background-images/mobile-main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 25px 20px 110px 30px;
}

.hamburguer-menu {
  position: absolute;
  height: 35px;
  width: 40px;
  margin: 25px 0 0 30px;
  border: none;
  cursor: pointer;
}

.logo-container h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 900;
}

.first-section h3 {
  font-family: cocogoose light, sans-serif;
  color: #ec5242;
  font-size: 25px;
  line-height: 30px;
  margin-top: 130px;
}

.first-section h1 {
  font-family: cocogoose gradient, sans-serif;
  color: #ec5242;
  font-size: 40px;
  line-height: 40px;
  margin-top: 5px;
}

.first-section p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: rgb(249, 249, 249);
  border: 3px solid white;
  padding: 15px 20px 15px 10px;
  margin: 20px 0;
  color: #272a31;
}

.first-section h2 {
  font-family: cocogoose light, sans-serif;
  font-weight: 900;
  color: #272a31;
}

.first-section h4 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  color: #272a31;
}

.main-program {
  background-image: url(./background-images/main-section-mobile-background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 50px 15px;
  gap: 15px;
}

.main-program hr {
  width: 10%;
  background-color: #ec5242;
  border: 1px solid #ec5242;
}

.gandalf-icon {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.main-program h3 {
  font-family: 'Lato', sans-serif;
  color: #d3d3d3;
  font-size: 18px;
  line-height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.interest-section {
  background-color: #3c3f46b3;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.interest-section:hover {
	background-color: #272a31;
  transform: translateY(-3%);
	cursor: pointer;
}

.interest-section h3 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin: 0 30px 0 20px;
  color: #ec5242;
}

.interest-section h4 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #d3d3d3;
  padding: 0 15px 0 50px;
}

@media only screen and (max-width: 460px) {
  .interest-section h4 {
    font-size: 13px;
  }
}

.grid-container {
	margin-left: 10px;
}

.join-button {
  background-color: #ec5242;
  padding: 30px 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.featured-actors {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.featured-actors h2 {
	font-family: 'Lato', sans-serif;
  color: #414246;
  font-size: 25px;
	margin: 35px 0 15px 0;
}

.featured-actors hr {
	width: 10%;
	background-color: #ec5242;
	border: 1px solid #ec5242;
}

.actor-1-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 40px 0 40px 0;
}

.photo-actor-1 {
	height: 100%;
	width: 100%;
}

.actor-1-description {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.actor-1-description h3 {
	font-family: 'Lato', sans-serif;
  color: #414246;
  font-size: 23px;
	margin-bottom: 15px;
}

.actor-1-description h4 {
	font-family: 'Lato', sans-serif;
  color: #ec5242;
  font-size: 15px;
	margin-bottom: 15px;
}

.actor-1-description hr {
	width: 10%;
	background-color: #d3d3d3;
	border: 1px solid #d3d3d3;
	margin-bottom: 15px;
}

.actor-1-description h5 {
	font-family: 'Lato', sans-serif;
  color: #414246;
  font-size: 12px;
}

.see-more {
	align-items: center;
  display: flex;
  justify-content: center;
}

#see-more-button {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	width: 90%;
	margin-bottom: 40px;
	padding: 10px 0;
	background-color: white;
	border: 2px solid #d3d3d3;
	border-radius: 5%;
	cursor: pointer;
}

.disable-scroll {
  overflow: hidden;
}

.creative-container {
  background-image: url(./background-images/about_bg_01.png);
  background-repeat: no-repeat;
  background-size: inherit;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0 25px 35px 20px;
}

.creative-container h3 {
  font-family: cocogoose light, sans-serif;
  color: #ec5242;
  font-size: 18px;
  line-height: 30px;
  margin-top: 65px;
}

.creative-container h2 {
  font-family: cocogoose, sans-serif;
  color: #ec5242;
  font-size: 40px;
  line-height: 40px;
  padding-top: 90px;
}

.creative-container p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 30px;
  background-color: white;
  border: 2px solid rgb(230, 230, 230);
  padding: 15px 20px 15px 10px;
  margin: 40px 0 25px 0;
  color: #676767;
  font-weight: 500;
}

.creative-container h4 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 23px;
  margin: 0 30px;
  font-weight: 500;
}

.logo-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 30px;
}

.logo-section h2 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
}

.logo-section h4 {
  font-family: 'Lato', sans-serif;
  color: #676767;
  line-height: 25px;
  margin-bottom: 60px;
}

.logo-section hr {
  width: 5%;
  background-color: #ec5242;
  border: 1px solid #ec5242;
  align-self: center;
  margin: 10px 0;
}

.logo-container {
  display: flex;
  flex-direction: row;
  padding: 20px 80px;
  border: 2px solid rgb(230, 230, 230);
  align-items: center;
}

.logo-icon {
  height: 50px;
  width: 50px;
}

.logo-icon:hover {
	filter: brightness(1.75);
}

.logo-container h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 700;
}

.logo-container h6 {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  border: 2px solid #c8c8c8;
  border-left: none;
  border-right: none;
}

.line-about {
  width: 100%;
  border: 1px solid #c8c8c8;
}

.first-movies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  padding: 30px 40px;
}

.first-movies h3 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 45px;
  font-weight: 900;
  align-self: center;
}

.first-movies h4 {
  align-self: center;
}

.first-movies hr {
  width: 10%;
  background-color: #ec5242;
  border: 1px solid #ec5242;
  align-self: center;
  text-align: center;
}

.fellowship-container {
  background-image: url(./background-images/eye-of-sauron.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: white;
}

.two-thrones-container {
  background-image: url(./background-images/two-thrones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #414246;
  width: 100%;
  height: 100%;
}

.mobile-container h3 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 30px;
  margin-top: 20px;
}

.mobile-container hr {
  width: 10%;
  background-color: #963328;
  border: 1px solid #963328;
  align-self: center;
  text-align: center;
}

.new-line-logo {
  height: 120px;
  width: 120px;
}

.google-logo {
  mix-blend-mode: hard-light;
  height: 50px;
  width: 110px;
}

.wb-logo {
  mix-blend-mode: color-burn;
  height: 100px;
  width: 100px;
}

.chrome-logo {
  mix-blend-mode: screen;
  height: 70px;
  width: 70px;
}

.footer-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rights-reserved {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: white;
  padding: 25px 40px;
}

.rights-reserved h3 {
  color: #272a31;
}

.polite-text {
  line-height: 16px;
}

.logo-nav,
.section-links,
.main-program h5,
.creative-container h3,
.creative-container hr,
.partners {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hamburguer-menu,
  .join-button,
  .mobile-container,
	.see-more,
	#button-see-more {
    display: none;
  }

	.partners {
		display: block;
	}

  .nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 140px;
  }

  .first-section {
    background-image: url(./background-images/desktop-main-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 160px 0 190px 0;
  }

  .first-section h3 {
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .first-section h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .first-section p {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 50px;
    width: 70%;
  }

  .logo-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo-nav h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #272a31;
    margin: 0;
    width: 120px;
  }

  .section-links {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #272a31;
    align-items: center;
  }

  .section-links a {
    margin-right: 60px;
  }

  .section-links h4 {
    color: black;
    font-size: 20px;
    margin-top: 0;
  }

	.section-links h4:hover {
		color: #ec5242;
		filter: brightness(1.75);
	}

  .text-container {
    margin: 0 140px 0 140px;
    padding-right: 120px;
  }

  .text-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .text-container h4 {
    font-size: 25px;
  }

  .main-program hr {
    margin-bottom: 40px;
  }

  .interest-container {
    display: flex;
    gap: 5px;
    margin-bottom: 70px;
  }

  .interest-section {
    flex-direction: column;
    height: 410px;
    text-align: center;
    padding: 24px 20px;
    margin: 0;
  }

  .gandalf-icon {
    height: 80px;
    width: 80px;
    margin: 0;
  }

  .interest-section h3 {
    margin: 0;
    font-size: 24px;
  }

  .interest-container h4 {
    font-size: 18px;
    padding: 0;
  }

  .main-program h3 {
    font-size: 25px;
    margin-top: 50px;
  }

  .main-program h5 {
		display: block;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    border-bottom: 3px solid #bdbdbd;
  }

  .creative-container {
    padding: 140px 125px 55px 120px;
  }

  .creative-container h2 {
    margin-bottom: 30px;
  }

  .creative-container hr {
    width: 10%;
    align-self: center;
    background-color: #ec5242;
    border: 1px solid #ec5242;
  }

	.grid-container {
		display: grid;
		gap: 10px;
    grid-template-rows: 2.5fr 2.5fr 2.5fr;
    grid-template-columns: 0.5fr 0.5fr;
		margin-left: 10px;
	}

	.actor-hidden {
		display: flex;
	}

	@media only screen and (min-width: 1100px) {
		.grid-container {
			display: grid;
			gap: 10px;
			grid-template-rows: 2.5fr 2.5fr;
			grid-template-columns: 0.5fr 0.5fr 0.5fr;
			margin-left: 10px;
		}
		.actor-hidden {
			display: flex;
		}
	}
  .rights-reserved {
    background-color: white;
    color: black;
    padding: 60px 80px;
    align-items: center;
  }

  .rights-reserved h3 {
    color: black;
  }

	.mobile-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: #414246;
		width: 100%;
		height: 100%;
	}
	
	.mobile-container h3 {
		font-family: 'Lato', sans-serif;
		color: white;
		font-size: 18px;
		line-height: 30px;
		margin-top: 20px;
	}
	
	.mobile-container hr {
		width: 10%;
		background-color: #963328;
		border: 1px solid #963328;
		align-self: center;
		text-align: center;
	}
	
	.new-line-logo {
		height: 120px;
		width: 120px;
	}
	
	.google-logo {
		mix-blend-mode: hard-light;
		height: 50px;
		width: 110px;
	}
	
	.wb-logo {
		mix-blend-mode: color-burn;
		height: 100px;
		width: 100px;
	}
	
	.chrome-logo {
		mix-blend-mode: screen;
		height: 70px;
		width: 70px;
	}
	
	.footer-logos {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}
}
